# =========================
# Java
# =========================
*.class
*.log

# =========================
# Maven
# =========================
target/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node.js / JSON Server
# =========================
node_modules/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Java IDE
# =========================
.classpath
.project
.settings/

# =========================
# Temporary files
# =========================
*.tmp
*.bak